/* 1. What is the Box model in CSS? Which CSS properties are a part of it?

ans: A rectangle box is wrapped around every HTML element. The box model is used to determine the height and width of the rectangular box. 
    The CSS Box consists of Width and height (or in the absence of that, default values and the content inside), padding, borders, margin.
    Content:  Actual Content of the box where the text or image is placed.
    Padding: Area surrounding the content (Space between the border and content).
    Border: Area surrounding the padding.
    Margin: Area surrounding the border. */

/* 2. What are the advantages of using CSS?  

ans: Separation of content from presentation - CSS provides a way to present the same content in multiple presentation formats in mobile or desktop or laptop.
     Easy to maintain - CSS, built effectively can be used to change the look and feel complete by making small changes. To make a global change, simply change the style, and all elements in all the web pages will be updated automatically.
     Bandwidth - Used effectively, the style sheets will be stored in the browser cache and they can be used on multiple pages, without having to download again.
   */

/* 3. What are the limitations of CSS?

ans: Disadvantages of CSS are given below:
     Browser Compatibility: Some style selectors are supported and some are not. We have to determine which style is supported or not using the @support selector).
     Cross Browser issue: Some selectors behave differently in a different browser).
     There is no parent selector: Currently, Using CSS, you can’t select a parent tag. */

/* 4. How to include CSS in the webpage?

ans: 1 - External Style Sheet (<link rel="stylesheet" type="text/css" href="mystyles.css" />)
     2 - Embed CSS with a style tag (<style></style>)
     3 - Add inline styles to HTML elements (<h2 style="color:red;background:black">Inline Style</h2>)
     4 - Import a stylesheet file (4 - Import a stylesheet file) */

/* 5. What are the different types of Selectors in CSS?   

ans:  Universal Selector (*)
      Element Type Selector (ul)  
      ID Selector (#)
      Class Selector (.)
      Child Combinator (#container > .box)
      General Sibling Combinator (~)
      Adjacent Sibling Combinator (+)
      Attribute Selector (input) */

/* 6. What is VH/VW (viewport height/ viewport width) in CSS?     

ans: It’s a CSS unit used to measure the height and width in percentage with respect to the viewport.
     It is used mainly in responsive design techniques (1vh - 10px) (1/100 - 1000px) */

/* 7.Difference between reset vs normalize CSS?. How do they differ?

ans:Reset CSS: CSS resets aim to remove all built-in browser styling. For example margins, paddings, font-sizes of all elements are reset to be the same. 
    Normalize CSS: Normalize CSS aims to make built-in browser styling consistent across browsers. It also corrects bugs for common browser dependencies. */

/* 8. What is the difference between inline, inline-block, and block?

ans:Block Element: The block elements always start on a new line. They will also take space for an entire row or width. List of block elements are <div>, <p>.
    Inline Elements: Inline elements don't start on a new line, they appear on the same line as the content and tags beside them. Some examples of inline elements are <a>, <span> , <strong>, and <img> tags. 
    Inline Block Elements: Inline-block elements are similar to inline elements, except they can have padding and margins and set height and width values */

/* 9.Is it important to test the webpage in different browsers?

ans:It’s most important to test a website in different browsers when you’re first designing it, 
     or when making major changes. However, it’s also important to repeat these tests periodically, 
    since browsers go through a lot of updates and changes. */

/* 10. what does media query do in css

ans: allows you to apply CSS styles based on different device types, or other characteristics such as screen resolution, orientation, or user preferences */

/* 11. What are Pseudo elements and Pseudo classes?

ans: Pseudo-elements allows us to create items that do not normally exist in the document tree, for example ::after.

::before
::after
::first-letter
::first-line
::selection
In the below example, the color will appear only on the first line of the paragraph.

p: :first-line {
	color: #ffOOOO;
	font-variant: small-caps;
}
    Pseudo-classes select regular elements but under certain conditions like when the user is hovering over the link.

:link
:visited
:hover
:active
:focus
Example of the pseudo-class, In the below example, the color applies to the anchor tag when it’s hovered.

/* mouse over link */
/* a:hover {
	color: #FFOOFF;
}  */

/* 12.Does margin-top or margin-bottom have an effect on inline elements?

ans: No, it doesn’t affect the inline elements. Inline elements flow with the contents of the page */

/* 13.What is the CSS display property used for?

ans:The CSS display property is used to control how an element is rendered on the page.
     It defines the display behavior of an element - whether it should be treated as a block-level element, an inline element, or other display types like flex or grid  */

/* 14.What are the CSS frameworks?

 ans: CSS frameworks are the preplanned libraries which make easy and more standard compliant web page styling. The frequently used CSS frameworks are: -

     Bootstrap
     Foundation
     Semantic UI
     Gumby
     Ulkit */

/* 15.What is RWD?

ans:RWD stands for Responsive Web Design. This technique is used to display the designed page perfectly on every screen size and device,
    for example, mobile, tablet, desktop and laptop. You don't need to create a different page for each device  */
